# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
* List popular programming languages for Data Scientists
* List commonly used libraries used by Data Scientists
* Indicate three development environment open source tools used in data science
* Evaluate aritmetic expressions in python
* Convert time in minutes to hours

According to DataCamp (www.datacamp.com), the top programming languages for Data Scientists in 2023 are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.

| Data Science Tools |
| ------------------ |
| RStudio            |
| Apache Spark       |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
time_minutes = 200
time_hours = time_minutes / 60
time_hours

3.3333333333333335

## Author

Ana Rita Reis Machado da Silva